.footer-section {
  background-color: #4a002a;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.footer-section-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.footer-section-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.footer-section-menu a:hover {
  text-decoration: none;
}

.footer-section-social {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.footer-section-social a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  transition: transform 0.2s;
}

.footer-section-social a:hover {
  transform: scale(1.2);
}

.footer-section-shopee-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: drop-shadow(0 0 2px white);
}

.footer-section-text {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 20px;
}
